@font-face {
    font-family: "Pribambas";
    src: url("/static/fonts/Pribambas-Regular.woff2") format("woff2"), url("/static/fonts/Pribambas-Regular.woff") format("woff"), url("/static/fonts/Pribambas-Regular.eot") format("eot");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
    background-color: #f0ece3;
}

#map {
    width: 100%;
    height: 100%;
}

h1 {
    padding: 5px;
    margin: 0;
}

.place-header,
.descr-header {
    font-family: Roboto;
    color: #4d4b56;
}

.place-header {
    text-align: center;
    font-size: 2em;
}

.topbar {
    width: 100%;
    height: 10%;
    background-color: #c7b198;
    display: flex;
    justify-content: center;
    /*Центрирование по горизонтали*/
    align-items: center;
    /*Центрирование по вертикали */
}

.main-title {
    color: #596e79;
    font-family: "Pribambas";
}

.content {
    width: 100%;
    height: 90%;
}

.gerb {
    height: 80%;
    margin-right: 20px;
    margin-left: auto;
}

.admin-button {
    margin-left: auto;
    height: 50%;
    margin-right: 20px;
}

.admin-button-image {
    width: 25px;
}

.place {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.place-photo {
    width: inherit;
}

a {
    text-decoration: none;
}